.formContainer {
    width: 1140px;
    margin: 0 auto;
    padding: 15px;
}

.formList {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: table;
}

    .formList .formEach {
        width: 100%;
        padding: 10px;
        list-style: none;
    }

        .formList .formEach ul {
            width: 100%;
            margin: 0px;
            padding: 0px;
            display: table;
        }

        .formList .formEach li {
            margin: 0px;
            padding: 0px;
            list-style: none;
            line-height: 30px;
            float: left;
        }

        .formList .formEach .formLabel {
            width: 80px;
        }

        .formList .formEach .formInput {
        }

            .formList .formEach .formInput input[type=text], .formList .formEach .formInput select {
                width: 500px;
            }

            .formList .formEach .formInput .selArea {
                float: left;
                width: 145px;
                margin-right: 10px;
            }

            .formList .formEach .formInput #txtContent {
                width: 500px;
                height: 150px;
                max-width: 500px;
                max-height: 150px;
            }
