@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-thumbs-up:before {
    content: "\e125";
}

.glyphicon-envelope:before{
    content: "\2709";

}

.new_message_count {
    position: absolute;
    /* right: -4px; */
    top: -1px;
    /* border: 1px solid #fff; */
    min-width: 25px;
    _width: 18px;
    /* height: 8px; */
    line-height: 15px;
    text-align: center;
    display: inline-block;
    /* padding: 0 2px; */
    background: #fa7d3c;
    color: #fff;
    border-radius: 5px;
    font-size: 8px;
}

.new_message{
    /*color:#fa7d3c;*/
    right: 38px;
    top: 3px;
    /* color: #BAA597; */
    font-size: 15px;
    cursor: pointer;
}



.goods:hover{
    color: red;
    cursor: pointer;
}

.red{
    color: red;
}